@use '../abstracts/vars';
@use '../abstracts/mixins';

.mt-50px{
    margin-top: 50px;
}

.mb-25px{
    margin-bottom: 25px;
}

.mt-25px{
    margin-top: 25px;
}

.mr-25px{
    margin-right: 25px;
}

.ml-110px{
    margin-left: 110px;
}

.ml-195px{
    margin-left: 195px;
}

.ml-255px{
    margin-left: 255px;
}

.ml-258px{
    margin-left: 258px;
}
