// This mixin is used for establish backgroun colors
@mixin set-background-color($color){
    background-color: $color;
}

//set fonts for titles and sections
@mixin set-font($fweight, $fsize, $fcolor){
    font-weight: $fweight;
    font-size: $fsize ;   
    color: $fcolor;
}

//set color for the texts
@mixin set-color($color){
    color: $color;
}


