@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.content-foother{
    margin: 0 122px;
    display: flex;
    @include media-queries.respond-to(media-queries.$phone){
        margin: 0 30px;
    }
}

.line-red {
    height: 3px;
    background-color: vars.$clr-red;
    margin: 2% 122px;
    width: auto;
    border-radius: 10px;
    @include media-queries.respond-to(media-queries.$phone){
        margin: 0 30px;
    }
}

.line-red2 {
    height: 4px;
    background-color: vars.$clr-red;
    margin: 2% 122px;
    width: auto;
    border-radius: 10px;
    @include media-queries.respond-to(media-queries.$phone){
        margin: 0 30px;
    }
}

/* Tipography */

.title-foother{
    @include mixins.set-font(vars.$fw-bold, vars.$fs-med, vars.$clr-red);
}

.txt-foother{
    @include mixins.set-font(vars.$fw-semibold, vars.$fs-med, vars.$clr-dark);
}

.ml-1-foother{
    margin-left: auto;
}

/* Tipography */
