@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.confirmation-code {
    display: flex;
    justify-content: space-between;
    width: 490px;
    margin: 20px auto;
    @include media-queries.respond-to(media-queries.$phone){
        width: 350px;
    }
}

.confirmation-code input[type="text"] {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 2px solid vars.$clr-red;
    border-radius: 5px;
}