@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.flex-container{
    @include mixins.set-background-color(vars.$clr-light-red);
    margin: 50px 150px 50px 150px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}