@use '../abstracts/media-queries';
@use '../abstracts/mixins';
@use '../abstracts/vars';

.flex-container-card{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: auto 68px;
}


.cards{
    margin: 1rem;
    margin-top: 25px;
    @include mixins.set-background-color(vars.$clr-cream);
    height: auto;
    width: 300px;
    @include media-queries.respond-to(media-queries.$phone){
        width: 380px;
    }
}

.cards img{
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.cards .cards-body{
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.flex-buttons{
    display: flex;
    margin-left: -0.5rem;
}

