@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.dropdowns{
   background-color: transparent;
}

.dropdowns select{
    padding: 7.5px 0px 7.5px 0px ;
    width: 300px;
    text-align: center;
    margin-right: 25px;
    border: none;
    border-radius: 5px;
    @include mixins.set-border(3px, vars.$clr-red);
    @include mixins.set-font(vars.$fw-regular, vars.$fs-med, vars.$clr-red);
    
    @include media-queries.respond-to(media-queries.$phone){
        margin-top: 25px;
        width: 350px;
        margin-right: 0px;
        margin-left: 15px;
    }

    @media screen and (max-width: 1400px){
        margin-top: 25px;
        width: 375px;
    }
}

/*
.ml-30{
    margin-left: 32px;
}
*/

