@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

.search-bar {
    padding: 5px;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    width: 320px;
    background-color: vars.$clr-white;
    border-radius: 25px;
    @include mixins.set-border(3px, vars.$clr-red);

    
    @media screen and (max-width: 1485px){
        width: 630px;
        margin-left: 0px;
    }
    @include media-queries.respond-to(media-queries.$phone){
        width: 300px;
        padding-left: 25px;
        margin-left: 20px;
    }
}

.search-bar input {
    @include mixins.set-color(vars.$clr-dark);
    border: none;
    padding-left: 30px;
    font-size: 16px;
    align-items: center;
    background: transparent;
    width: 300px;
    background-image: url(/dist/svgs/search-1.svg);
    background-repeat: no-repeat;

    @media screen and (max-width: 1485px){
        width: 600px;
    }
    @include media-queries.respond-to(media-queries.$phone){
        width: 280px;
    }
}
